.header__section {
    width: 320px;
    height: 64px;
    margin: auto;
    @include for-pc {
        width: 1400px;
        padding-top: 39px;
        padding-bottom: 100px;
        background-color: #F3C6BD;
        color: #2B292D;
    }
}

.menu {
    @include for-pc {
        width: 1140px;
        height: 62px;
        margin: 0 130px;
    }
    .logo {
        display: flex;
        width: 261px;
        height: 64px;
        @include for-pc {
            width: 297px;
        }
        &__info {
            display: flex;
            align-items: center;
            @include for-pc {
                flex-direction: column;
                width: 299px;
                height: 60px;
                margin-left: 15px;
                margin-top: 6px;
            }
            &_name {
                font-size: 20px;
                font-weight: 700;
                line-height: 25px;
                margin: 0;
                margin-left: 13px;
                margin-right: 74px;
                @include for-pc {
                    margin-right: auto;
                    margin-left: 0;
                }
            }
        }
        &__info_description {
            display: none;
            @include for-pc {
                display: block;
                margin: 0;
                width: 222px;
                line-height: 25px;
                opacity: 0.4;
            }
        }
    }
    display: flex;
    flex-direction: row;
    .header__button {
        @include for-pc {
            margin-left: auto;
        }
    }
    button {
        display: none;
        @include for-pc {
            display: block;
            width: 160px;
            height: 48px;
            border: none;
            font-weight: 700;
            border-radius: 2px;
        }
    }
    .navigation {
        display: none;
        @include for-pc {
            display: flex;
            margin-left: 335px;
            margin-top: 7px;
            &__list {
                display: flex;
                justify-content: space-between;
                padding: 0;
                margin: 0;
                margin-right: 75px;
                width: 273px;
                height: 25px;
                list-style: none;
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}

.navigation__list-item-active {
    font-weight: 700;
}

.navigation__list-item img {
    margin-left: 11px;
}

.header__menu-button {
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #00000015;
    @include for-pc {
        display: none;
    }
}

.log__icon {
    @include for-pc {
        margin-top: 2px;
    }
    .logo__image {
        width: 48px;
        height: 48px;
        margin: 8px 0 15px 8px;
        @include for-pc {
            width: 60px;
            height: 60px;
            margin: 0;
        }
    }
}

.humburger {
    width: 18px;
    height: 13px;
    margin: 0;
    display: block;
}