* {
  box-sizing: border-box;
}

html {
  font-family: Work Sans, sans-serif;
}

body {
  margin: auto;
}

.header__section {
  width: 320px;
  height: 64px;
  margin: auto;
}
@media (min-width: 769px) {
  .header__section {
    width: 1400px;
    padding-top: 39px;
    padding-bottom: 100px;
    background-color: #F3C6BD;
    color: #2B292D;
  }
}

.menu {
  display: flex;
  flex-direction: row;
}
@media (min-width: 769px) {
  .menu {
    width: 1140px;
    height: 62px;
    margin: 0 130px;
    margin-bottom: 81px;
  }
}
.menu .logo {
  display: flex;
  width: 261px;
  height: 64px;
}
@media (min-width: 769px) {
  .menu .logo {
    width: 297px;
  }
}
.menu .logo__info {
  display: flex;
  align-items: center;
}
@media (min-width: 769px) {
  .menu .logo__info {
    flex-direction: column;
    width: 299px;
    height: 60px;
    margin-left: 15px;
    margin-top: 6px;
  }
}
.menu .logo__info_name {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin: 0;
  margin-right: 74px;
}
@media (min-width: 769px) {
  .menu .logo__info_name {
    margin-right: auto;
    margin-left: 0;
  }
}
.menu .logo__info_description {
  display: none;
}
@media (min-width: 769px) {
  .menu .logo__info_description {
    display: block;
    margin: 0;
    width: 222px;
    line-height: 25px;
    opacity: 0.4;
  }
}
@media (min-width: 769px) {
  .menu .header__button {
    margin-left: auto;
  }
}
.menu button {
  display: none;
}
@media (min-width: 769px) {
  .menu button {
    display: block;
    width: 160px;
    height: 48px;
    border: none;
    font-weight: 700;
    border-radius: 2px;
  }
}
.menu .navigation {
  display: none;
}
@media (min-width: 769px) {
  .menu .navigation {
    display: flex;
    margin-left: 335px;
    margin-top: 7px;
  }
  .menu .navigation__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-right: 75px;
    width: 273px;
    height: 25px;
    list-style: none;
    font-size: 18px;
    line-height: 25px;
  }
}

.navigation__list-item-active {
  font-weight: 700;
}

.navigation__list-item img {
  margin-left: 11px;
}

.header__menu-button {
  width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #00000015;
}
@media (min-width: 769px) {
  .header__menu-button {
    display: none;
  }
}

.logo__icon {
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (min-width: 769px) {
  .logo__icon {
    margin: 0;
    margin-top: 2px;
  }
}
.logo__icon .logo__image {
  width: 48px;
  height: 48px;
}
@media (min-width: 769px) {
  .logo__icon .logo__image {
    width: 60px;
    height: 60px;
    margin: 0;
  }
}

.humburger {
  width: 18px;
  height: 13px;
  margin: 0;
  display: block;
}

.headline__section {
  width: 320px;
  margin: auto;
  background: #F3C6BD;
}
@media (min-width: 769px) {
  .headline__section {
    width: 1400px;
    color: #2B292D;
  }
}

.headline {
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .headline {
    flex-direction: row;
    margin-left: 126px;
    margin-right: 25px;
    position: relative;
  }
}
.headline__info {
  margin: 35px 15px;
  margin-top: 0;
}
@media (min-width: 769px) {
  .headline__info {
    margin: 0;
    margin-top: 10px;
  }
}
@media (min-width: 769px) {
  .headline__description {
    position: absolute;
  }
}
.headline__description-article {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  width: 290px;
  height: 205px;
  margin-bottom: 24px;
}
@media (min-width: 769px) {
  .headline__description-article {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    margin-bottom: 34px;
    color: #2B292D;
  }
}
.headline__description-text {
  font-size: 24px;
  line-height: 34px;
  width: 290px;
  height: 172px;
  margin-bottom: 30px;
}
@media (min-width: 769px) {
  .headline__description-text {
    width: 456px;
    height: 102px;
    font-size: 24px;
    margin-bottom: 58px;
  }
}
.headline__buttons {
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .headline__buttons {
    flex-direction: row;
  }
}
.headline__buttons button {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  height: 48px;
  width: 290px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2px;
}
@media (min-width: 769px) {
  .headline__buttons button {
    width: 160px;
    height: 48px;
    margin-right: 10px;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 10px;
  }
}

.button {
  background-color: #3040C4;
  color: #fff;
}

.button__learn {
  background-color: #fff;
  color: #3040C4;
}

.ouch {
  display: flex;
  margin-top: 18px;
  margin-bottom: 36px;
  width: 320px;
  height: 180px;
}
@media (min-width: 769px) {
  .ouch {
    margin-bottom: 77px;
    margin-left: auto;
    width: 796px;
    height: 448px;
  }
}

@media (min-width: 769px) {
  .headline__description-article p {
    margin: 0;
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  padding: 10% 5%;
  background-color: #F4F5F7;
}
@media (min-width: 769px) {
  .about__container {
    flex-direction: row;
    padding: 5% 0;
  }
  .about__container .about {
    max-width: 1200px;
    margin: auto 7%;
    display: flex;
  }
}
@media (min-width: 769px) {
  .about__container article {
    margin-right: 2%;
  }
}
.about__container article .question {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}
.about__container article .answer {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
}

.features__container {
  margin: 10% 5%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .features__container {
    margin: 7% 7%;
    display: flex;
    flex-direction: row;
  }
  .features__container__container-list {
    min-width: 50%;
    margin-right: 10%;
  }
}
.features__title {
  font-size: 22px;
  line-height: 40px;
  color: #009B4D;
}
.features__title-desktop {
  display: none;
}
@media (min-width: 769px) {
  .features__title {
    display: none;
  }
  .features__title-desktop {
    display: block;
  }
}
.features__title-desktop {
  font-size: 22px;
  line-height: 40px;
  color: #009B4D;
}
.features__title_sub {
  width: 100%;
  font-size: 56px;
  margin-top: 0;
}
.features__text {
  font-size: 24px;
  line-height: 34px;
  width: 100%;
  font-weight: 400;
  margin-bottom: 10%;
}
.features__bird {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 769px) {
  .features__bird {
    display: none;
  }
}
@media (min-width: 769px) {
  .features .offer__item p {
    display: none;
    font-size: 14px;
  }
}
.features .offer {
  display: none;
  cursor: pointer;
}
@media (min-width: 769px) {
  .features .offer {
    display: block;
    margin-right: 126px;
  }
}
.features .offer__item:hover {
  border-color: #3142C6;
}
.features .offer__item {
  padding-bottom: 0.5%;
  border-bottom: 1px #2B292D solid;
}
.features .offer__item h3 {
  font-size: 20px;
}

.offer__item:hover h3 {
  color: #3142C6;
}

.offer__item:hover p {
  display: block;
  transition: 2s;
}

.invision {
  display: none;
}
@media (min-width: 769px) {
  .invision {
    display: block;
    max-width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .customers {
    width: 100%;
  }
}

.customers__container {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 769px) {
  .customers__container {
    padding-top: 2%;
    margin: 0 7%;
  }
}
.customers__container .object {
  flex-basis: 30%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: 1px #E3E3E3 solid;
  min-height: 107px;
}
@media (min-width: 769px) {
  .customers__container .object {
    border: none;
    flex-direction: row;
    flex-basis: 15%;
    justify-content: left;
  }
}
.customers__container .object img {
  display: block;
  max-width: 100%;
  padding: 10%;
  filter: brightness(0);
}
@media (min-width: 769px) {
  .customers__container .object img {
    padding: 0;
  }
}

.audience {
  width: 320px;
  margin: auto;
  background-color: rgba(0, 161, 198, 0.07);
  padding: 50px 15px;
  padding-bottom: 35px;
  text-align: center;
}
@media (min-width: 769px) {
  .audience {
    width: 1400px;
    padding: 110px 130px;
  }
}
.audience .buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
@media (min-width: 769px) {
  .audience .buttons {
    margin: auto;
    flex-direction: row;
    width: 300px;
    margin-bottom: 111px;
    margin-top: 34px;
  }
}
.audience .buttons button {
  height: 48px;
  width: 290px;
  margin-bottom: 12px;
  border: none;
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 769px) {
  .audience .buttons button {
    width: 160px;
    height: 48px;
    margin-right: 10px;
  }
}

.learn {
  color: black;
}

.audience__title {
  margin: 0;
}

.sub {
  font-size: 40px;
  line-height: 40px;
  width: 290px;
  height: 80px;
  letter-spacing: -0.36px;
  text-align: center;
}
@media (min-width: 769px) {
  .sub {
    display: flex;
    margin: auto;
    width: 555px;
    height: 166px;
    font-size: 56px;
    letter-spacing: -0.5px;
    line-height: 56px;
    margin-top: 24px;
  }
}
.sub .audience__text {
  font-size: 24px;
}
@media (min-width: 769px) {
  .sub .audience__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 24px;
    line-height: 34px;
    width: 555px;
    height: 72px;
  }
}
@media (min-width: 769px) {
  .sub .audience__text .card__list {
    flex-direction: row;
    display: flex;
  }
}
.sub .developers {
  margin-top: 28px;
}
@media (min-width: 769px) {
  .sub .developers {
    width: 262px;
    height: 300px;
  }
}
.sub .developers img {
  width: 138px;
  height: 195px;
}
@media (min-width: 769px) {
  .sub .entertaiment {
    width: 262px;
    height: 300px;
  }
}
.sub .entertaiment img {
  width: 142px;
  height: 195px;
}
@media (min-width: 769px) {
  .sub .athletes {
    width: 262px;
    height: 300px;
  }
}
.sub .athletes img {
  width: 160px;
  height: 195px;
}
@media (min-width: 769px) {
  .sub .creators {
    width: 262px;
    height: 300px;
  }
}
.sub .creators img {
  width: 119px;
  height: 195px;
}

@media (min-width: 769px) {
  .card__list {
    display: flex;
    flex-direction: row;
  }
}
.card__list .card {
  width: 290px;
  height: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 8px;
}
@media (min-width: 769px) {
  .card__list .card {
    margin-right: 31px;
  }
}
.card__list .card img {
  margin-bottom: 0;
}
.card__list .card p {
  margin-top: 22px;
  font-size: 22px;
  font-weight: 700;
}
.card__list .card:hover {
  background-color: #3141C5;
  color: #fff;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}

@media (min-width: 769px) {
  .audience__text {
    display: flex;
    margin: auto;
    font-size: 24px;
    line-height: 34px;
    width: 555px;
    height: 72px;
  }
}

.order {
  width: 320px;
  margin: auto;
  background-color: #f4f5f7;
  padding: 50px 15px;
}
@media (min-width: 769px) {
  .order {
    width: 1400px;
    padding: 73px 230px 72px 234px;
  }
}
@media (min-width: 769px) {
  .order .order__container {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 769px) {
  .order .order__img {
    display: block;
  }
}
.order__img {
  margin: 0 45px;
  width: 200px;
  height: 220px;
}
@media (min-width: 769px) {
  .order__img {
    width: 270px;
    height: 296px;
    margin-right: 122px;
  }
}
.order__title {
  text-align: center;
  letter-spacing: -0.25px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700s;
  margin-top: 40px;
  margin-bottom: 18px;
}
@media (min-width: 769px) {
  .order__title {
    text-align: left;
  }
}
.order__text {
  width: 290px;
  height: 167px;
  font-size: 22px;
  line-height: 32px;
  color: #2b292d;
}
@media (min-width: 769px) {
  .order__text {
    width: 555px;
    height: 64px;
  }
}
.order__form form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .order__form form {
    flex-direction: row;
  }
}
.order__form form .order__email {
  width: 290px;
  height: 48px;
  border-radius: 2px;
  border: none;
  text-align: center;
  margin-bottom: 12px;
}
@media (min-width: 769px) {
  .order__form form .order__email {
    width: 385px;
    height: 48px;
    text-align: left;
    padding-left: 15pt;
    margin-right: 10px;
  }
}
.order__form form .order__button {
  height: 48px;
  width: 290px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2px;
  background-color: #3040c4;
  color: #fff;
}
@media (min-width: 769px) {
  .order__form form .order__button {
    width: 160px;
    height: 48px;
  }
}

.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
  margin: 0;
  margin-top: 10px;
}

.footer {
  width: 320px;
  margin: auto;
}
@media (min-width: 769px) {
  .footer {
    width: 1400px;
    padding: 43px 130px 47px 130px;
    display: flex;
  }
}

footer {
  width: 320px;
  margin: auto;
}
footer .logo {
  padding: 0 15px;
}
@media (min-width: 769px) {
  footer .logo {
    padding: 0;
    display: flex;
  }
}
footer .logo__icon_footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@media (min-width: 769px) {
  footer .logo__icon_footer {
    margin: 0;
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
footer .logo__icon_footer .footer__logo {
  width: 60px;
  height: 60px;
  margin: 0;
}
footer .logo__info {
  text-align: center;
  line-height: 51px;
}
footer .logo__info p {
  margin: 0;
}
footer .logo__info_name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
@media (min-width: 769px) {
  footer .logo__info_name {
    text-align: left;
  }
}
footer .logo__info_description {
  font-size: 18px;
  line-height: 25px;
  color: #2B292D35;
  padding: 0 15px;
}
@media (min-width: 769px) {
  footer .logo__info_description {
    padding: 0;
  }
}
footer .download__links {
  display: flex;
  margin-top: 31px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: space-evenly;
}
@media (min-width: 769px) {
  footer .download__links {
    justify-content: left;
    width: 300px;
    margin-left: 0;
  }
}

.download__links-app {
  width: 135px;
  height: 40px;
}
@media (min-width: 769px) {
  .download__links-app {
    margin-right: 10px;
  }
}

.download__links-google {
  width: 116px;
  height: 40px;
}

.footer__description {
  display: none;
}
@media (min-width: 769px) {
  .footer__description {
    display: block;
    width: 360px;
    height: 85px;
    color: #2B292D60;
    font-size: 18px;
  }
}

.product {
  padding: 0 15px;
}
.product h1 {
  font-size: 22px;
  line-height: 28px;
  width: 290px;
  height: 28px;
}
.product__list {
  list-style: none;
  padding: 0;
  color: rgba(43, 41, 45, 0.6);
  line-height: 30px;
  font-size: 18px;
  height: 175px;
}
@media (min-width: 769px) {
  .product__list {
    width: 265px;
    height: 185px;
  }
}

@media (min-width: 769px) {
  .footer__lists {
    display: flex;
    margin-left: 126px;
  }
}

.company {
  padding: 0 15px;
  height: 136px;
}
.company h1 {
  font-size: 22px;
  line-height: 28px;
  width: 290px;
  height: 28px;
}
.company__list {
  list-style: none;
  padding: 0;
  color: rgba(43, 41, 45, 0.6);
  line-height: 30px;
  font-size: 18px;
}
@media (min-width: 769px) {
  .company__list {
    width: 265px;
    height: 185px;
  }
}

.terms {
  padding: 0 15px;
  width: 320px;
  margin: auto;
  margin-top: 60px;
}
@media (min-width: 769px) {
  .terms {
    width: 1400px;
    border-top: #2B292D20 1px solid;
    margin-top: 0;
    padding: 15px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.terms__list {
  padding: 0;
  list-style: none;
  display: flex;
  width: 180px;
  font-size: 14px;
  color: rgba(43, 41, 45, 0.6);
  padding-left: 0pt;
  margin-bottom: 31px;
}
@media (min-width: 769px) {
  .terms__list {
    margin: 0;
    width: 180px;
    height: 22px;
  }
}
.terms__list-item {
  margin-right: 20px;
}
.terms .social-links {
  display: flex;
  list-style: none;
  padding: 0;
}
@media (min-width: 769px) {
  .terms .social-links {
    align-items: center;
    width: 180px;
    height: 22px;
    margin: 0;
  }
}
.terms .social-links .link img {
  width: 21px;
  height: 16px;
  margin-right: 20px;
  margin-bottom: 23px;
  margin-top: 0;
}
@media (min-width: 769px) {
  .terms .social-links .link img {
    width: 18px;
    height: 17px;
    margin: 0;
    margin-left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
