        .about__container {
            display: flex;
            flex-direction: column;
            padding: 10% 5%;
            background-color: #F4F5F7;
            @include for-pc {
                flex-direction: row;
                padding: 5% 0;
                .about {
                    max-width: 1200px;
                    margin: auto 7%;
                    display: flex;
                }
            }
            article {
                @include for-pc {
                    margin-right: 2%;
                }
                .question {
                    font-size: 22px;
                    line-height: 32px;
                    font-weight: 700;
                }
                .answer {
                    font-size: 22px;
                    line-height: 32px;
                    font-weight: 400;
                }
            }
        }