.headline__section {
  width: 320px;
  margin: auto;
  background: #f3c6bd;
  @include for-pc {
    width: 1400px;
    color: #2b292d;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  @include for-pc {
    flex-direction: row;
    margin-left: 126px;
    margin-right: 25px;
    position: relative;
  }
  &__info {
    margin: 35px 15px;
    margin-top: 0;
    @include for-pc {
      margin: 0;
      margin-top: 10px;
    }
  }
  &__description {
    @include for-pc {
      position: absolute;
    }
    &-article {
      @include for-pc {
        width: 754px;
        height: 165px;
        font-size: 80px;
        line-height: 78px;
        letter-spacing: -0.5px;
        margin-bottom: 34px;
        color: #2b292d;
      }
      font-size: 50px;
      line-height: 50px;
      font-weight: 700;
      width: 290px;
      height: 205px;
      margin-bottom: 24px;
    }
    &-text {
      @include for-pc {
        width: 456px;
        height: 102px;
        font-size: 24px;
        margin-bottom: 58px;
      }
      font-size: 24px;
      line-height: 34px;
      width: 290px;
      height: 172px;
      margin-bottom: 30px;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    @include for-pc {
      flex-direction: row;
    }
    button {
      @include for-pc {
        width: 160px;
        height: 48px;
        margin-right: 10px;
        border: none;
        padding: 0;
        margin: 0;
        margin-right: 10px;
      }
      margin-bottom: 15px;
      margin-left: 15px;
      margin-right: 15px;
      height: 48px;
      width: 290px;
      border: none;
      font-weight: 700;
      font-size: 18px;
      border-radius: 2px;
    }
  }
}

.button {
  background-color: #3040c4;
  color: #fff;
}

.button__learn {
  background-color: #fff;
  color: #3040c4;
}

.ouch {
  display: flex;
  margin-top: 18px;
  margin-bottom: 36px;
  width: 320px;
  height: 180px;
  @include for-pc {
    margin-bottom: 77px;
    margin-left: auto;
    width: 796px;
    height: 448px;
  }
}

.headline__description-article p {
  @include for-pc {
    margin: 0;
  }
}
